$nav-header-bg: $primary-color;
$nav-header-color: #FFF;

.super-nav-header {
    height: 60px;
    width: 100%;
    background-color: $nav-header-bg;
    color: $nav-header-color;
    h1 {
        padding: 5px;
        height: 60px;
        font-size: 30px;
        line-height: 50px;
        margin: 0;
        img {
            height: 100%;
            width: auto;
            float: left;
            margin-right: 10px;
        }
    }
}
