$side-menu-item-bg: $info-color;

.super-side-menu {
    .side-menu-item {
        @include disable-user-selection();
        height: 50px;
        padding: 10px;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        transition: background-color 0.3s, border 0.2s;


        ng-transclude {
            @include truncate();
            display: block;
        }
        .display-small {
            display: none;
            line-height: 30px;
        }
        &.text-center {
            text-align: center;
        }
        &:hover {
            background-color: $side-menu-item-bg;
        }
        &.active {
            border-left: 5px solid $side-menu-item-bg;
        }
    }

    &.closed {
        .side-menu-item {
            text-align: center;
            .display-small {
                display: block;
            }
            &:before {
                content: attr(small);
            }
            ng-transclude {
                display: none;
            }
        }
    }
}
