$side-menu-item-bg: $info-color;

.super-side-menu {
    .side-menu-item {
        @include disable-user-selection();
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        transition: background-color 0.3s, border 0.5s;

        ng-transclude {
            @include truncate();
            display: block;
        }

        p, ng-transclude {
            transition: opacity 0.5s;
        }

        p {
            position: absolute;
            text-align: center;
            opacity: 0;
        }


        &:hover {
            background-color: $side-menu-item-bg;
        }
        &.active {
            border-left: 5px solid $side-menu-item-bg;
        }
    }

    &.closed {
        .side-menu-item {
            p {
                opacity: 1;
            }
            ng-transclude {
                opacity: 0;
            }
        }
    }
}
